<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DynamicNotch</string>
	<key>CFBundleDisplayName</key>
	<string>DynamicNotch</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Required to intercept media key events for custom HUD display.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSScreenRecordingUsageDescription</key>
	<string>Boring Notch uses screen recording access to analyse system audio for the responsive spectrogram visualizer. No screen content is captured or stored.</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://hitjack007.github.io/DynamicNotch/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>6xY6JsEkEG2HPn7hPwS457+wIYZ96Yc7NLR88xZsFPg=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
